body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 13px;
    color: #000;
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

#socialnav li a {
    padding: 0;
}

#socialnav {
    width: 100%;
    background: #202020;
}

.container {
    text-align: left;
    max-width: 70%;
    padding: 0;
    margin: 0 auto;
}

.navbar-nav {
    width: 970px;
    position: relative;
    color: #fff;
}

#navlinks {
    margin-top: 0;
    padding-top: 7px;
}



.nav li {
    display: inline-block;
}

#bordermail {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding-right: 24px;
    padding-left: 21px;
    height: 26px
}

#bordermail a:hover {
    background-color: #202020;
}

#navlinks a {
    color: #fff;
    font-size: 11px;
}

#twitter {
    padding-left: 10px;
    padding-right: 10px;
}

#facebook {
    padding-right: 5px;
}

#youtube {
    padding-right: 7px;
}

#linkedin {
    padding-right: 13px;
    border-right: 1px solid #000;
    height: 26px;
}

#about {
    padding-left: 40px;
}

#about a:hover {
    background-color: #202020;
}

#contact a:hover {
    background-color: #202020;

}

#smaller {
    padding-left: 40px;
    padding-right: 3px;
    padding-bottom: 6px;
}

#aa {
    padding-right: 3px;
}

#sitenav {
    width: 100%;
    background: #003c8b;
}

.sitenavbar-nav {
    display: inline;
    height: 90px;
    width: 970px;
    position: relative;
    color: #fff;
    background-color: #003c8b;
    margin-right: 0;
}

#sitenav-header {
    background-color: #003c8b;
    text-align: left;
    width: 70%;
    padding: 0;
}

#sitenavlinks {
    margin-top: 0;
    width: 970px;

}

#logo a {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 0;
}

#logo a:hover {
    background-color: #003c8b;
}

#sitenavlinks a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}


.bluelinks a {
    padding-right: 27px;
    padding-left: 27px;
    padding-top: 33px;
    padding-bottom: 35px;
    line-height: 89px;
}

#logo a:active {
    background-color: #003c8b;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #012049;
    font-weight: bold;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #012049;
}

.bluelinks a:active {
    background-color: #012049;
    font-weight: bold;
}

.dropdown-menu {
    background-color: #003c8b;
}

.dropdown-toggle a{
    min-width: 140px;
}

#gethelp {
    padding-right: 0;
}

#gethelp a {
    margin-left: -3px;
    margin-right: -3px;
    padding-left: 20px;
    padding-right: 20px;

}

#learn a{
    padding-left: 40px;
    padding-right: 40px;
}

#healthcare a {
    padding-right: 25px;
    padding-left: 25px;
    margin-left: -1px;
}


#donate a {
    background-color: #e06714;
    padding-left: 28px;
    padding-right: 28px;
    margin-left: -3px;
}

/* Carousel base class */


/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    display: block;
    background: rgba(0, 0, 0, 0.67);
    height: 170px;
    width: 550px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 300px;
    background-color: #fff;
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
}

#bluebar {
    color: #ffffff;
}

#bluebar-col {
    background-color: #7fa8cc;
}

.bluebar-wrap {
    background-color: #7fa8cc;
}




#bluebar a {
    color: #ffffff;
    text-decoration: none;
    float: left;
}

.text-left {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 0;
}

img.img-circle {
    width: 100%;
}

.text-box .col-md-7{
    text-align: left;
    width: 55%;
    padding-right: 0;
}

.text-box .col-sm-12 {
    width: 100%;
}

h5 {
    font-weight: bold;
}

#greybox-wrap {
    background-color: #f9f9f9;
    min-height: 180px;
}

.greybox-text {
    padding-top: 20px;
    padding-bottom: 30px;
    color: #003c8b;
}

.greybox-text p {
    color: #000;
}

#main-wrap h2 {
    padding-top: 20px;

}

#main {
    position: relative;

}

.left-column {
    float: left;
}

.blog-post {
    display: inline-block;
    padding-top: 10px;
}

.blog-text {
    text-align: left;
}

img.blog.pic {
    width: 100%;
}

.right-column h2 {
    padding-top: 0;
}
#socialh h2 {
    padding-top: 0;
}

h2 {
    font-weight: bold;
    color: #003c8b;
}

.social-twitter {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 250px;
    margin-top: 20px;
}

.social-facebook {
    border: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    height: 250px;
    margin-top: 20px;
}

.social-youtube {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    height: 370px;
    margin-top: 20px;
}

.blue-dots {
    float: right;
}


#grey-dots {
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}

.col-md-5.text-left {
    padding:5px;
    width: 100%;
}

.col-md-5 h2 {
    margin-left: 14px;
}

#contribute {
    padding-top: -20px;
}

.text-box-grey {
    background-color: #f9f9f9;
}

.text-box-grey a:hover {
    text-decoration: none;
}

.col-md-12 {
    padding-bottom: 15px;
    padding-top: 15px;
}

.grey-con-p {
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.bttn {
    text-align: center;
}

.bttn {
    text-decoration: none;
    color: #fff;
    margin-bottom: 15px;

}

#blue {
    background-color: #5295cb;
    padding-right: 40%;
    padding-left: 40%;
    padding-top: 6px;
    padding-bottom: 6px;

}

#green {
    background-color: #57b750;
    padding-right: 34%;
    padding-left: 34%;
    padding-top: 6px;
    padding-bottom: 6px;
}

#orange {
    background-color: #e06714;
    padding-right: 37%;
    padding-left: 37%;
    padding-top: 6px;
    padding-bottom: 6px;

}

.greypad {
    padding-left: 15px;
    padding-right: 15px;
}



#blueline-wrap {
    background-color: #003c8b;
    height: 17px;
    margin-top: 60px;
}

#footer-wrap {
    background-color: #202020;
    padding-top: 20px;
}

#footer-wrap a {
    color: #fff;
}

#footer-wrap a:hover {
    background-color: #202020;
}


.footer-nav {
    position: relative;
    color: #fff;
}

.col-sx-12 {
    text-align: center;
}


#logocontact {
    text-align: center;
    padding-left: -15px;
}

#logocontact p {
    color: #fff;
    font-size: 13px;

}

#line1 {
    margin-bottom: 0;
}


#footerlinks h4 {
    color: #ffffff;
}

#footerlinks li {
    display: block;
}

#footerlinks a {
    color: #fff;
    padding: 0;

}

#learnf {
    padding-right: -20px;
    border-right: 1px solid #000;

}



